/* --------------------------------------------------------
Style Sheet for প্রকল্প বাস্তবায়ন কর্মকর্তা - বাতায়ন

version: PIO.v1.3
last modified: 01.05.2021
author: Md. Tariqul Islam
email: gub.tarek@gmail.com
website: http://cse.tariqul.xyz
----------------------------------------------------------*/